#fb {
    background: #dbf2ff;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}
.yellow {
    background: #fffa77 !important;
}
.red {
    background: #ff3d3d !important;
    color: white;
}