.grc-1 {
    background: #CBFFA3;
}
.grc-2 {
    background: #A3D1FF;
}
.grc-3 {
    background: #FAFFA3;
}
.grc-4 {
    background: #FFA3A3;
}
.grc-5 {
    background: #FFD095;
}
.grc-6 {
    background: rgb(255, 255, 255);
}
.grc-7 {
    background: rgb(146, 146, 146);
}
.grc-8 {
    background: rgb(165, 133, 84);
}
.grc-9 {
    background: rgb(126, 233, 233);
}
