.grc-1 {
    background: #CBFFA3;
}
.grc-2 {
    background: #A3D1FF;
}
.grc-3 {
    background: #FAFFA3;
}
.grc-4 {
    background: #FFA3A3;
}
.grc-5 {
    background: #FFD095;
}
.grc-6 {
    background: #FF95F7;
}
