.sidebar-portrait {
    height: 50px;
    width: 50px;
    background-size: 50px;
    display: inline-block;
    margin-right: 5px;
    margin-top: -30px;
    float: right;
    border-radius: 25px;
}

#post-area h1 {font-size: 26px;}

#post-area h2 {font-size: 24px;}

#post-area h3 {font-size: 22px;}

#post-area h4 {font-size: 20px;}

#post-area h5 {font-size: 18px;}

.navbar {
    z-index: 10000 !important;
}

.last-modified {
    color: grey;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.as-title .as-title-row {
    margin-left: 5px !important;
}

.as-title-row {
    margin-left: 0px !important;
}

@media only screen and (max-width: 680px) {

    .sidebar-portrait {
        display: none;
    }

    #sidebar-wrapper {
        max-width: 150px;
        font-size: 14px;
    }
    
    .sidebar-nav {
        max-width: 150px; 
    }

    .a-info {
        display: none;
    }

    #post-area {
        margin-left: -100px;
        width: calc(100% + 100px);
    }

    .post-area {
        word-wrap: break-word !important;
        font-size: 13px;
    }

    .as-title-row {
        margin-left: -110px !important;
    }
}

.post-area {
    margin-top: 10px;
}

hr {
    height: 1px !important; 
    background-image: linear-gradient(to right, #eee, #777 , #eee) !important;
 }

.selected-profile {
    box-shadow: inset 0 0 14px rgb(14, 121, 37);
}

.active {
    background: rgb(135, 191, 255) !important;
}

.assignmentnumber {
    cursor: pointer !important;
}

.navbar-brand {
    margin-left: 14px;
}

.sidebar-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 185px;
}

.sidebar-matrikel {
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: -10px;
}

.sidebar-st {
    line-height: 35px;
}

#navbar-portrait {
    height: 42px;
    width: 42px;
    background-size: 42px;
    margin-top: -20px;
    margin-bottom: -20px;
    display: inline-block;
    border-radius: 22px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #eee;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hidden {
    display: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 74px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #111;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 74px;
    font-size: 18px;
    line-height: 74px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper {
    padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}