  #studentcards {
    width: 700px;
  }

  #post-area {
    height: 800px;
    overflow: auto;
  }
  
  .row {
      height: 100%;
    /*width:calc(100% - 300px + 15px * 2);*/
  }

  .portrait {
    float: right; 
    position: absolute;
    top: 8px;
    right: 8px;
    background-size: 65px; 
    height: 65px; width: 65px;
    border-radius: 3px;
  }

  .student-profile {
      height: 95px !important;
      padding: 8px !important;
      padding-right: 80px !important;
      overflow: auto;
      position: relative;
  }

  .profile-link {
    position: absolute;
    bottom: 5px;
  }

  .selected-profile {
    box-shadow: inset 0 0 14px rgb(14, 121, 37);
  }

  .assignmentnumber {
    background-color: #fff!important;
    cursor: pointer !important;
  }

  .active {
    background: rgb(135, 191, 255);
  }

  .hidden {
    display: none;
  }

  .nav-item:hover {
    cursor: pointer;
  }