#studentcards {
  width: 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
}

.card {
  cursor: pointer;
  margin-bottom: 8px;
}

.student-profile {
  height: auto;
  padding: 8px !important;
  padding-right: 80px !important;
  overflow: auto;
  position: relative;
}

.assignment-card {
  background-color: #eee;
  height: 75px;
}

#post-area {
  height: 800px;
  top: 60px;
  position: relative;
}

#navbar-portrait {
  height: 44px;
  width: 44px;
  background-size: 44px;
  display: inline-block;
  border-radius: 22px;
}

.row {
  height: 100%;
  /*width:calc(100% - 300px + 15px * 2);*/
}

.portrait {
  float: right;
  position: absolute;
  top: 8px;
  right: 8px;
  background-size: 65px;
  height: 65px;
  width: 65px;
  border-radius: 3px;
}

.card-matrikel {
  font-size: 12px;
}

.profile-link {
  bottom: 5px;
  left: 5px;
}

.selected-profile {
  box-shadow: inset 0 0 14px rgb(14, 121, 37);
}

.assignmentnumber {
  background-color: #fff !important;
  cursor: pointer !important;
}

.active {
  background: rgb(135, 191, 255);
}

.hidden {
  display: none;
}

.nav-item:hover {
  cursor: pointer;
}