<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/highlight/styles/googlecode.css">
    <link rel="stylesheet" type="text/css" href="./static/css/mainsite.css">
    <script src="./static/jquery-3.3.1.min.js"></script>
    <script src="./static/bootstrap/bootstrap.min.js"></script>
    <script src="./static/highlight/highlight.pack.js"></script>
    <script src="./static/js/studentlist.js"></script>
    <title>Übersicht</title>
</head>

<body>
    
<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./">{{.CourseName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item">
                <a onclick="showInfo()" class="nav-link">Kursinfo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./register">register</a>
        </li>
        {{if .CurrentUser.Vorname}}
        <li class="nav-item">
            <a onclick="deleteSession()" class="nav-link" href="./">logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./post">Post</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="./login">login</a>
        </li>
        {{end}}
        </ul>
        <!--right alligned-->
        <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {{if .CurrentUser.Vorname}}
                    <a class="nav-link" href="./profile/{{.CurrentUser.Matrikel}}">
                        Eingeloggt als {{.CurrentUser.Vorname}} {{.CurrentUser.Nachname}}
                        <i style="font-size: 13px">
                            #{{.CurrentUser.Matrikel}}</i>
                        <img style="background-image: url({{.CurrentPortrait}});" id="navbar-portrait">
                    </a>
                    {{else}}
                    <li class="nav-link">not logged in </li>
                    {{end}}
                </li>
            </ul>
    </div>
    </nav>

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!--lädt onclick Posts des Studenten "0" ein -> Platz für Aufgabenstellung-->
            <li class="assignment-selector" onclick="selectStudent(0); makeRequest(0)">
                <div class="sidebar-st 0">
                    <div class="sidebar-name">Aufgabenstellung</div>
                    <p class="sidebar-matrikel a-info">zur ausgewählten Aufgabe</p>
                </div>
                </a>
            </li>
            <!--Students-->
            {{$st := .Students}} {{$pt := .Portraits}} {{range $index, $st := .Students}}
            <li class="{{.Matrikel}}" style="background: {{.Gruppenfarbe}};" onclick="selectStudent({{.Matrikel}}); makeRequest({{.Matrikel}})">
                <div class="sidebar-st {{.Matrikel}}">
                    <div class="sidebar-name">{{.Vorname}} {{.Nachname}}</div>
                    <img align="middle" style="background-image: url({{index $pt $index}});" class="sidebar-portrait">
                    <p class="sidebar-matrikel">{{.Matrikel}}</p>
                </div>
                </a>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="container post-container" style="width: auto; margin-top: 10px; margin-left: 250px;">
        <!--Aufgabenwähler-->
        <h3 class="as-title">Aufgaben</h3>
        <div class="row as-title-row">
            <div onclick="postLink(0)" class="awb a0 btn btn-light">Alle</div>
            <div onclick="postLink(1)" class="awb a1 btn btn-light">1</div>
            <div onclick="postLink(2)" class="awb a2 btn btn-light">2</div>
            <div onclick="postLink(3)" class="awb a3 btn btn-light">3</div>
            <div onclick="postLink(4)" class="awb a4 btn btn-light">4</div>
            <div onclick="postLink(5)" class="awb a5 btn btn-light">5</div>
        </div>
        <div class="row row-post-area"><div class="sticky-top" id="post-area"></div></div>
        
    </div>
</body>

</html>