<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Portrait ändern</title>
    <link rel="icon" type="image/png" href="./static/icon.png" />
    <link rel="stylesheet" href="./static/bootstrap/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid" style="padding: 50px 15%;">
        <h2>Portrait ändern</h2>
        Hier kann ein neues Portrait / Profilbild hochgeladen werden.
        <br><br>
        <strong>Das Bild:</strong>
        <ul>
            <li>muss im JPEG Format (.jpg oder .jpeg) gespeichert sein</li>
            <li>kann nicht größer als 500kb sein</li>
            <li>sollte am besten quadratisch - oder annährend quadratisch sein.</li>
          </ul>
        <br>
        <div class="form-group">
            <form accept="image/jpeg" enctype="multipart/form-data" action="./uploadportrait" method="post">
                <input class="inputfile" style="background: #ddd" id="fileform" accept="image/jpeg" type="file" name="uploadfile" oninput="checkForm();"/>
                <br><br>
                <input class="btn btn-primary" disabled id="btn" type="submit" value="hochladen"/>
            </form>
        </div>
    </div>
    <style>

    </style>
    <script>
        function checkForm() {
            if (document.getElementById("fileform").value != "") {
                document.getElementById("btn").disabled = false;
            }
        }

    </script>
</body>

</html>