<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <title>Abgabe</title>
</head>

<body>
    <div class="container-fluid" style="padding: 50px 15%;">
        <h1>Abgabe</h1>
        <div class="row">
            <div class="col">
                <p class="text-muted">{{.Vorname}} {{.Nachname}} {{.Matrikel}}</p>
                <p><a class="link-primary" href="/">Zurück zur Übersicht</a></p>  
                <div class="form-group">
                    <form method="post">
                        
                        <label for="matrikel">Aufgabe Nr. </label>
                        <input id="postNr" min=1 max=1000 style="width: 50px;" value=1 class="" form-control type="number" name="postNr">
                        <a class="text-primary" style="cursor: pointer;" onclick="loadPost()" class="link-primary">&nbspBestehende Abgabe editieren</a><br>
                        <textarea id="textarea" rows=20 placeholder="Hier Abgabentext eingeben" oninput="checkText()" class="form-control" type="text" name="postedText"></textarea>
                        <br>
                        <input  disabled="true" id="submit-button" class="btn btn-primary" type="submit" value="Post">
                </div>
            </div>
            <div class="col">
            </form>
            <div id="markdown-examples">
                Zur Formatierung des Textes kann <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> verwendet werden:<br><br>
                <b>Überschriften</b>:<br>
                # Ich werde eine sehr dicke Überschrift<br>
                ## Ich mehr so mittel<br>
                ### eher kleiner<br>
                ....<br><br>
                <b>Textformat:</b><br>
                *ich werde italic Text*<br>
                **ich werde dicker Text**<br><br>
                <b>Links & Bilder einbinden:</b><br>
                [klick mich](https://www.hs-furtwangen.de/)<br>
                ![bild-titel](https://irgendein-Link-zu-irgendeinem-bild)<br><br>

                <b>Listen</b><br>
                * Das hier werden<br>
                * Aufzählungen<br>
                1. Geht auch<br>
                2. Mit Nummern<br><br>

                
                <b>Tabellen</b><br>
                Spalte1 | Spalte2<br>
                --------|--------<br>
                Eintrag1   | 15<br>
                Eintrag2   | 34<br><br>

                <b>Syntax Highlighting</b><br>
                ```java<br>
                System.Out.Prinln("das funktioniert nicht nur mit Java!")<br>
                ```<br><br>
            </div>
        </div>
        </div>
    </div>
    <script>
        //TODO funzt no ned
        function checkText() {
            var btn = document.getElementById("submit-button");
            if (btn.value == "") {
                btn.disabled = true;
            } else {
                btn.disabled = false;
            }
        }

        //Load text from existing file
        function loadPost() {
            var xhr = new XMLHttpRequest();

                //open request to /matrikel/postraw/number
                var path = './';
                var urlArray = window.location.pathname.split( '/' );

                var postNr = document.getElementById("postNr").value;

                //Open path to postnumber, else take post 1
                xhr.open('GET', path.concat("251669", "/postraw/",postNr), true);

                //handle response
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        document.getElementById("textarea").value = xhr.responseText;
                    }
                };
                xhr.send();
        }
    </script>
    
</body>

</html>